@import '../../../../styles/mixins.scss';

.ArticleType9 {
  width: 1050px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include tablet {
    width: 100%;
    flex-direction: column;
  }
}

.ArticleType9__left {
  width: 460px;
  flex-shrink: 0;
  @include tablet {
    width: 100%;
    margin-right: 0;
    margin-bottom: 40px;
  }
}

.ArticleType9__top {
  display: flex;
}

.ArticleType9__img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  margin-right: 20px;
  flex-shrink: 0;
  background-size: cover;
  background-position: center;
  @include phone {
    width: 118px;
    height: 118px;
  }
}

.ArticleType9__title {
}

.ArticleType9__big {
  font-family: "sofia_probold";
  max-width: 210px;
  -webkit-text-fill-color: rgba(255,255,255,0); /* Will override color (regardless of order) */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
  font-size: 42px;
  line-height: 110.5%;
  text-transform: uppercase;
  @include tablet {
    max-width: 100%;
  }
  @include phone {
    font-size: 27px;
    line-height: 100%;
  }
}

@keyframes moveSmall{
  0% { transform: translateX(0px);}
  25% { transform: translateX(3px);}
  50% { transform: translateX(0px);}
  75% { transform: translateX(3px);}
  100% { transform: translateX(0px);}
}

.ArticleType9__small {
  font-size: 16px;
  line-height: 149%;
  color: #dd0017;
  margin-top: 30px;
  cursor: pointer;
  img {
    position: relative;
    left: 4px;
    top: -1px;
  }
  &:hover {
    img {
      animation: moveSmall .7s;
    }
  }
  @include phone {
    font-size: 13px;
    line-height: 149%;
    margin-top: 12px;
  }
}

.ArticleType9__desc {
  margin-top: 65px;
  font-size: 20px;
  line-height: 149%;
  @include tablet {
    margin-top: 30px;
  }
  @include phone {
    font-size: 13px;
    line-height: 149%;
  }
}

.ArticleType9__right {
  display: flex;
  flex-direction: column;
  @include tablet {
    width: 100%;
  }
}

.ArticleType9__grid {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 174px 174px 174px;
  align-self: flex-end;
  @include tablet {
    grid-template-columns: 1fr 1fr;
    width: 100%;
  }
  @include phone {
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }
}

.ArticleType9__gridimg {
  width: 174px;
  height: 250px;
  background-size: cover;
  background-position: center;
  @include tablet {
    width: 100%;
  }
}

.ArticleType9__griddesc {
  font-size: 16px;
  line-height: 149%;
  text-align: center;
  color: #848484;
  margin: 0 auto;
  margin-top: 24px;
  max-width: 470px;
  @include phone {
    margin-top: 12px;
    font-size: 10px;
    line-height: 149%;
  }
}
