@import '../../../../styles/mixins.scss';

.ArticleType7 {
  width: 1050px;
  display: flex;
  @include tablet {
    width: 100%;
    flex-direction: column;
  }
}

.ArticleType7__left {
  margin-right: 100px;
  width: 364px;
  flex-shrink: 0;
  margin-left: 86px;
  @include phone {
    width: 100%;
    margin-left: 0;
  }
}

.ArticleType7__desc {
  font-size: 20px;
  line-height: 149%;
  @include phone {
    font-size: 14px;
    line-height: 149%;
  }
}

.ArticleType7__title {
  display: flex;
  @include tablet {
    flex-direction: column-reverse;
  }
  @include phone {
    font-size: 19px;
    line-height: 120.5%;
  }
  &:before {
    height: 1px;
    background-color: #000;
    width: 77px;
    content: '';
    margin-top: 16px;
    margin-right: 16px;
    flex-shrink: 0;
    @include tablet {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  }
  font-family: 'sofia_prosemi_bold';
  font-size: 27px;
  line-height: 120.5%;
  text-transform: uppercase;
}
