@import '../../../../styles/mixins.scss';

.ArticleType3 {
  width: 1050px;
  display: flex;
  align-items: center;
  @include tablet {
    width: 100%;
  }
  @include phone {
    width: 100%;
    flex-direction: column-reverse;
    align-items: start;
  }
}

.ArticleType3__image {
  width: 480px;
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 100px;
  @include tablet {
    margin-right: 33px;    
    height: 320px;
    width: 320px;
  }
  @include phone {
    width: 100%;
    margin-top: 20px;
  }
  flex-shrink: 0;
}

.ArticleType3__content {
}

.ArticleType3__title {
  font-size: 27px;
  line-height: 120.5%;
  text-transform: uppercase;
  font-family: 'sofia_prosemi_bold';
  @include tablet {
    font-size: 19px;
  }
}

.ArticleType3__divider {
  width: 64px;
  background-color: #000;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.ArticleType3__desc {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 149%;
  @include tablet {
    font-size: 16px;
  }
  @include phone {
    font-size: 14px;
    line-height: 149%;
  }
}

.ArticleType3__red {
  color: #DD0017;
}
