@import '../../../../styles/mixins.scss';

.ArticleType10 {
  width: 1100px;
  display: flex;
  align-items: center;
  @include tablet {
    width: 100%;
    flex-direction: column-reverse;
    align-items: start;
  }
}

.ArticleType10__left {
  margin-right: 140px;
  width: 470px;
  flex-shrink: 0;
  font-size: 20px;
  line-height: 149%;
  @include tablet {
    align-self: flex-end;
    width: 70%;
    margin-right: 0;
    margin-top: 40px;
  }
  @include phone {
    font-size: 14px;
    line-height: 149%;
    width: 100%;
    padding-left: 120px;
  }
}

.ArticleType10__red {
  color: #DD0017;
}

.ArticleType10__right {
  width: 430px;
  height: 260px;
  align-items: center;
  background-size: contain;
  background-repeat: no-repeat;
  padding-left: 200px;
  align-items: center;
  display: flex;
  @include phone {
    width: 100%;
    height: 170px;
    padding-left: 120px;
  }
}

.ArticleType10__title {
  font-family: 'sofia_prosemi_bold';
  font-size: 27px;
  line-height: 120.5%;
  text-transform: uppercase;
  width: 240px;
  @include phone {
    font-size: 19px;
    line-height: 120.5%;
    width: 100%;
  }
}

.ArticleType10__title-small {
  font-size: 13px;
  line-height: 149%;
  font-family: 'sofia_prosemi_bold';
  color: #DD0017;
  display: flex;
  text-transform: uppercase;
  margin-top: 20px;
  &:before {
    content: '';
    background-color: #dd0017;
    height: 1px;
    width: 30px;
    margin-right: 4px;
    margin-top: 9px;
  }
}
