.ArticleType1 {
  display: flex;
  max-width: 1000px;
  align-self: flex-end;
}

.item {
  display: flex;
  flex-direction: column;
  margin-right: 36px;
  &:last-child {
    margin-right: 0;
  }
}

.image {
  background-position: center;
  background-size: cover;
  height: 380px;
  width: 100%;
}

.title {
  font-size: 17px;
  line-height: 17px;
  font-family: 'sofia_prosemi_bold';
  color: #000;
  text-transform: uppercase;
  margin-top: 30px;
}

.desc {
  font-size: 16px;
  margin-top: 14px;
  line-height: 149%;
  color: #848484;
}
