@import '../../../../styles/mixins.scss';

.ArticleType6Slider {
  width: 1200px;
  @include tablet {
    width: 100%;
  }
}

.ArticleType6Slider__slider-item {
  width: 1200px;
  height: 600px;
  background-size: cover;
  background-position: center;
  @include tablet {
    width: 100%;
  }
  @include phone {
    height: 460px;
  }
}

.ArticleType6Slider__circle-arrows-nav {
  display: flex;
  mix-blend-mode: difference;
  margin-left: 140px;
  @include tablet {
    display: none;
  }
}

.ArticleType6Slider__circle-arrows-nav-back {
  background-image: url('/circle-arrow.svg');
  width: 30px;
  height: 30px;
  margin-right: 14px;
  transform: rotate(-180deg);
  cursor: pointer;
}

.ArticleType6Slider__circle-arrows-nav-forth {
  background-image: url('/circle-arrow.svg');
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.ArticleType6Slider__bottom-block {
  display: flex;
  padding-left: 140px;
  padding-top: 20px;
  padding-right: 140px;
  @include phone {
    padding: 20px;
  }
}

.ArticleType6Slider__desc {
  font-size: 16px;
  line-height: 149%;
  color: #848484;
  max-width: 580px;
  @include phone {
    max-width: 100%;
    font-size: 10px;
    line-height: 149%;
  }
}

.ArticleType6Slider__pagination {
  margin-right: 40px;
  font-size: 16px;
  color: #848484;
  flex-shrink: 0;
  line-height: 149%;
  @include tablet {
    display: none;
  }
}
