.CategoryPage {
  background-image: url('/backgrounds/sport.png');
  background-size: cover;
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 40px;
}

.menu {
  margin-right: 90px;
}

.cart {
  background-image: url('/mobile/bag.svg');
  background-size: contain;
  width: 20px;
  height: 26px;
  padding-top: 10px;
}

.counter {
  color: #fff;
  font-size: 10px;
  width: 100%;
  text-align: center;
}

.logo {
  background-image: url('/logo.svg');
  background-size: contain;
  width: 163px;
  height: 50px;
}

.middle {
  margin-top: auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.vertical-menu {
  display: flex;
  width: max-content;
}


.content {
  margin-right: 50px;
  width: 420px;
  position: relative;
  &:after {
    content: '';
    width: 64px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    top: 58px;
    left: -85px;
  }
}

.small-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 149%;
  margin-bottom: 11px;
}

.big-title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 97.5%;
  text-transform: uppercase;
  margin-bottom: 21px;
}

.circle-arrows-nav {
  display: flex;
}

.circle-arrows-nav-back {
  background-image: url('/circle-arrow.svg');
  width: 30px;
  height: 30px;
  margin-right: 14px;
  transform: rotate(-180deg);
}

.circle-arrows-nav-forth {
  background-image: url('/circle-arrow.svg');
  width: 30px;
  height: 30px;
}

.description {
  margin-top: 92px;
}
