@import '../../../styles/mixins.scss';

.CategoryPage {
  height: 100vh;
  overflow: auto;
}

.CategoryPage__main-frame {
  height: 100vh;
  padding: 35px 40px;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  z-index: 0;
  @include phone {
    padding: 18px;
  }
}

.CategoryPage__category-arrow-down {
  width: 162px;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all 150ms;
  @include tablet {
    display: none;
  }
  &:hover {
    opacity: .6;
  }
  cursor: pointer;
}

@keyframes moveArrowMain{
  0% { transform: translateY(0px);}
  50% { transform: translateY(0px);}
  75% { transform: translateY(10px);}
  100% { transform: translateY(0px);}
}
.CategoryPage__category-arrow-down--animate {
  animation: moveArrowMain 3s infinite forwards;
}

.CategoryPage__main-content {
  position: relative;
  z-index: 1;
  background-color: #F4F3F3;
  color: #000;
}

.CategoryPage__main-content-section {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  padding-top: 50px;
  padding-bottom: 70px;
  overflow: hidden;
  @include almost-big-desktop {
    justify-content: center;
    padding-left: 60px; // right padding compensation
  }
  &.CategoryPage__main-content-section--no-rigth-padding {
    padding-right: 0;
    @include tablet {
      padding: 0;
      padding-bottom: 80px;
    }
    @include phone {
      padding: 0;
      padding-bottom: 20px;
    }
  }
  @include tablet {
    display: block;
    padding: 20px;
    padding-bottom: 80px;
  }
  @include phone {
    padding-bottom: 40px;
  }
}

.CategoryPage__middle {
  margin-top: auto;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @include tablet {
    justify-content: flex-start;
    align-items: start;
    padding-top: 120px;
    padding-bottom: 50px;
  }
  @include phone {
    padding-top: 80px;
    padding-bottom: 0;
    height: initial;
  }
}

.CategoryPage__vertical-menu {
  position: absolute;
  left: 40px;
  // mix-blend-mode: difference;
  top: 30%;  width: max-content;
  z-index: 3;
  @media (max-width: 1300px) {
    display: none;
  }
  @include tablet {
    display: none;
  }
}


.CategoryPage__content {
  margin-right: 50px;
  width: 440px;
  position: relative;
  @include tablet {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  @include phone {
    height: initial;
  }
  &:after {
    content: '';
    width: 64px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    top: 40px;
    left: -85px;
    @include tablet {
      display: none;
    }
  }
}

.CategoryPage__small-title {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 149%;
  margin-left: 4px;
  margin-bottom: 8px;
}

.CategoryPage__big-title {
  font-style: normal;
  font-weight: bold;
  font-size: 50px;
  line-height: 97.5%;
  text-transform: uppercase;
  margin-bottom: 21px;
  position: relative;
  @include phone {
    font-size: 30px;
    line-height: 104%;
  }
  &:after {
    display: none;
    content: '';
    width: 64px;
    position: absolute;
    height: 1px;
    background-color: #fff;
    bottom: -34px;
    @include tablet {
      display: block;
    }
  }
}

.CategoryPage__circle-arrows-nav {
  display: flex;
  margin-top: -10px;
  @include tablet {
    margin-top: auto;
  }
  @include phone {
    display: none;
  }
}

.CategoryPage__circle-arrows-nav-back {
  background-image: url('/circle-arrow.svg');
  width: 30px;
  height: 30px;
  margin-right: 14px;
  transform: rotate(-180deg);
  cursor: pointer;
  transition: all 150ms;
  &:hover {
    opacity: .6;
  }
}

.CategoryPage__circle-arrows-nav-forth {
  background-image: url('/circle-arrow.svg');
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: all 150ms;
  &:hover {
    opacity: .6;
  }
}

.CategoryPage__description {
  margin-top: 92px;
  width: 90%;
  font-size: 20px;
  line-height: 141%;
  @include tablet {
    margin-top: 20px;
  }
  @include phone {
    display: none;
  }
}

.CategoryPage__carousel {
  position: absolute;
  z-index: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  .rec-slider-container {
    div {
      margin: 0 !important;
    }
  }
}

.CategoryPage__bgimage {
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
