.ArticleType8 {
  width: 1100px;
}

.main-title {
  margin-bottom: 50px;
  text-align: center;
}

.main-title-small {
  font-size: 13px;
  line-height: 149%;
  color: #DD0017;
  text-transform: uppercase;
}

.main-title-big {
  font-size: 42px;
  line-height: 110.5%;
  text-transform: uppercase;
  color: #000000;
  font-family: 'sofia_prosemi_bold';
}

.content {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
}

.item {
  display: flex;
  flex-direction: column;
  margin-right: 36px;
  width: 214px;
  &:last-child {
    margin-right: 0;
  }
}

.image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  right: 30px;
  height: 130px;
  position: relative;
}

.number {
  position: absolute;
  top: 0;
  left: -30px;
  text-align: center;
  width: 20px;
  height: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
}

.title {
  font-size: 17px;
  line-height: 17px;
  font-family: 'sofia_probold';
  text-transform: uppercase;
  margin-top: 40px;
  position: relative;
  img {
    position: relative;
    bottom: 2px;
    left: 3px;
  }
}

.desc {
  margin-top: 20px;
  font-size: 16px;
  line-height: 149%;
}
