@import '../../../../styles/mixins.scss';

.ArticleType8 {
  width: 1050px;
  @include tablet {
    width: 100%;
  }
}

.ArticleType8__main-title {
  margin-bottom: 50px;
  text-align: center;
}

.ArticleType8__main-title-small {
  font-size: 13px;
  line-height: 149%;
  color: #DD0017;
  text-transform: uppercase;
  font-family: 'sofia_prosemi_bold';
  margin-bottom: 8px;
  @include phone {
    font-size: 10px;
    line-height: 149%;
    margin-bottom: 8px;
  }
}

.ArticleType8__main-title-big {
  font-size: 42px;
  line-height: 110.5%;
  text-transform: uppercase;
  color: #000000;
  font-family: 'sofia_prosemi_bold';
  @include phone {
    font-size: 27px;
    line-height: 85.5%;
  }
}

.ArticleType8__content {
  display: flex;
  align-self: flex-end;
  justify-content: space-between;
  @include phone {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 0;
  }
}

.ArticleType8__item {
  display: flex;
  flex-direction: column;
  margin-right: 36px;
  width: 214px;
  &:last-child {
    margin-right: 0;
  }
  @include tablet {
    justify-content: space-between;
    margin-left: 30px;
  }
  @include phone {
    width: 100%;
    margin: 0;
  }
}

.ArticleType8__image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  right: 30px;
  height: 130px;
  position: relative;
  @include tablet {
    right: 0;
    width: 60%;
    height: 100px;
  }
  @include phone {
    right: 0;
    width: 80%;
  }
}

.ArticleType8__number {
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: #000;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  flex-shrink: 0;
  font-size: 16px;
  text-align: center;
  margin-right: 8px;
  margin-top: -1px;
  font-family: "sofia_probold";
  span {
    position: relative;
    top: -1px;
  }
  @include tablet {
    margin-bottom: 8px;
  }
  @include phone {
    margin: 0;
    margin-bottom: 8px;
    width: 16px;
    height: 16px;
    line-height: 13px;
  }
}

.ArticleType8__title {
  font-size: 17px;
  line-height: 17px;
  font-family: 'sofia_probold';
  text-transform: uppercase;
  margin-top: 24px;
  position: relative;
  display: flex;
  margin-left: -28px;
  img {
    position: relative;
    bottom: 2px;
    left: 3px;
  }
  span {
    @include phone {
      font-size: 10px;
      line-height: 10px;
    }
  }
  @include tablet {
    font-size: 13px;
    margin-left: 0;
    display: block;
  }
  @include phone {
    margin-top: 10px;
  }
}

.ArticleType8__desc {
  margin-top: 6px;
  font-size: 16px;
  line-height: 149%;
  color: #757575;
  @include phone {
    font-size: 10px;
    line-height: 149%;
    margin-top: 8px;
  }
}
