.ArticleType4 {
  width: 1050px;
  display: flex;
  align-items: center;
}

.left {
  margin-right: 100px;
}

.title {
}

.title-small {
  font-weight: 600;
  font-size: 13px;
  line-height: 149%;
  color: #dd0017;
  font-family: "sofia_prosemi_bold";
  display: flex;
  &:before {
    content: "";
    width: 30px;
    height: 1px;
    background-color: #dd0017;
    position: relative;
    top: 9px;
    margin-right: 10px;
  }
}

.title-big {
  font-family: "sofia_probold";
  margin-top: 9px;
  font-size: 42px;
  line-height: 110.5%;
  text-transform: uppercase;
}

.desc {
  font-size: 20px;
  line-height: 149%;
  margin-top: 110px;
}

.addition {
  margin-top: 110px;
  display: flex;
}

.addition-block {
  display: flex;
  &:first-child {
    margin-right: 22px;
  }
}

.icon {
  margin-right: 14px;
  margin-top: 8px;
}

.text {
  max-width: 140px;
  font-family: "sofia_prolight";
  color: #dd0017;
}

.grid-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.right  {
  display: grid;
  grid-gap: 12px;
  &.single-image {
    grid-template-columns: 1fr;
    .grid-img {
      width: 462px;
      height: 638px;
    }
  }
  &.multiple-images {
    grid-template-columns: 1fr 1fr;
    .grid-img {
      width: 225px;
      height: 313px;
    }
  }
}
