.ProductMenu {
  
}

.ProductMenu__item {
  margin-bottom: 28px;
  text-align: center;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0;
  }
  &.is-active, &:hover {
    color: #DD0017;
  }
}

.ProductMenu__item__name {
  font-size: 12px;
  line-height: 12px;
  transition: all 150ms;
  text-transform: uppercase;
  margin-top: 4px;
  
}
