.VerticalMenu {
  display: flex;
  flex-direction: column;
  transition: color 300ms;
  &.black {
    color: #000;
    .VerticalMenu__Item__arrow-right {
      path {
        stroke: #000;
      }
    }
  }
  &.white {
    color: #fff;
    .VerticalMenu__Item__arrow-right {
      path {
        stroke: #fff;
      }
    }
  }
}

.VerticalMenu__Item__item {
  margin-bottom: 14px;
  &:last-child {
    margin-bottom: 0;
  }
  &.is-active {
    .VerticalMenu__Item__item-name-container {
      color: #DD0017;
      .VerticalMenu__Item__arrow-right {
        transform: rotate(90deg);
        path {
          fill: #DD0017;
          stroke: #DD0017;
        }
      }
    }
  }
}

.SubMenu {
  margin-top: 12px;
  margin-left: 16px;
}

.SubMenu__sub-item {
  font-size: 14px;
  text-transform: capitalize;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  &:last-child {
    margin-bottom: 0;
  }
}

.SubMenu__sub-item-icon {
  margin-right: 8px;
  path {
    transition: fill 300ms;
  }
  &.white {
    path {
      fill: #fff;
    }
  }
  &.black {
    path {
      fill: #000;
    }
  }
}

.VerticalMenu__Item__item-name-container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.VerticalMenu__Item__arrow-right {
  path {
    transition: stroke 300ms;
  }
  margin-right: 8px;
}

.VerticalMenu__Item__item-name {
  font-size: 14px;
  text-transform: uppercase;
}
