.ArticleType5 {
  width: 1050px;
  display: flex;
  align-items: center;
}

.left {
  margin-right: 100px;
}

.title {
  font-size: 27px;
  line-height: 120.5%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'sofia_prosemi_bold';
}

.divider {
  margin: 0 auto;
  height: 2px;
  width: 80px;
  background-color: #000;
  margin-top: 30px;
  margin-bottom: 70px;
}

.info-blocks {
  display: grid;
  grid-gap: 70px;
  grid-template-columns: 200px 200px;
}

.block {
  display: flex;
}

.num {
  width: 15px;
  height: 15px;
  line-height: 15px;
  background-color: #000;
  color: #fff;
  align-items: center;
  justify-content: space-around;
  border-radius: 50%;
  flex-shrink: 0;
  font-size: 12px;
  text-align: center;
  margin-right: 7px;
  margin-top: 6px;
}

.down-img {
  margin-top: 70px;
  margin-top: 70px;
  display: flex;
  justify-content: space-around;
}

.text {
  font-size: 16px;
  line-height: 149%;
}

.grid-img {
  background-repeat: no-repeat;
  background-size: cover;
}

.grid {
  display: grid;
  grid-gap: 12px;
  &.single-image {
    grid-template-columns: 1fr;
    .grid-img {
      width: 462px;
      height: 638px;
    }
  }
  &.multiple-images {
    grid-template-columns: 1fr 1fr;
    .grid-img {
      width: 225px;
      height: 313px;
    }
  }
}

.right {
}

.img-desc {
  margin-top: 24px;
  font-size: 16px;
  line-height: 149%;
  text-align: center;
  color: #979797;
}
