@import '../../../styles/mixins.scss';

.menu {
  display: flex;
}

.menu-item {
  text-align: right;
  text-transform: uppercase;
  font-family: 'sofia_prosemi_bold';
  margin-right: 52px;
  font-size: 17px;
  position: relative;
  cursor: pointer;
  // &.with-arrow {
  //   margin-right: 12px;
  // }
  .arrow {
    transform: rotate(90deg) translate(-2px, -3px);
    @include tablet {
      width: 20px;
    }
    @include phone {
      width: 8px;
    }
    &.opened {

    }
  }
  &:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    bottom: -4px;
    left: 0;
    transition: all ease 150ms;
  }
  &:hover {
    &:after {
      width: 100%;
    }
  }
  &:last-child {
    margin-right: 0;
  }
}

.menu-sub-overlay {
  padding-top: 20px;
  position: absolute;
  top: 0;
  padding-top: 43px;
  left: -30px;
}

.menu-sub {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  position: relative;
  border: 1px solid #ddd;
  min-width: 160px;
  padding: 16px 0;
  padding-bottom: 18px;
  z-index: 5;
  // &.open-animation {
  //   transform: translate(0, 0);
  //   opacity: 1;
  // }
  &:after {
    content: "";
    width: 10px;
    height: 10px;
    top: -6px;
    left: 76px;
    transform: rotate(45deg);
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    background-color: #000;
    position: absolute;
  }
  @include tablet {
    display: none;
  }
}

.menu-sub-item {
  text-transform: lowercase;
  margin-bottom: 8px;
  text-align: center;
  span {
    &:after {
      width: 0;
      transition: width ease 150ms;
    }
  }
  &:hover {
    span {
      &:after {
        width: 100%;
      }
    } 
  }
  span {
    position: relative;
    &:after {
      content: '';
      position: absolute;
      height: 2px;
      background-color: #fff;
      bottom: -2px;
      left: 0;
    }
  }
  &:last-child {
    margin-bottom: 0;
  }
}
